.logo{
  p{
    letter-spacing: 4px;
    font-size: 1.5rem;
    color: #0059c8;
  }
}
.phone-number{
  padding-right: 19px;
  font-size: 4.39rem;
  margin-bottom: 0;
}
.header-button{
  font-size: 2.184rem;
  margin-right: 18px;
  padding: 10px 22px 3px;
}
.phone-text{
  letter-spacing: 1;
}
